@{
    ViewBag.Title = "Onboarding Task";
}

<div class="jumbotron">
    <h1>MVP Studio ASP.NET</h1>
    <p class="lead">MVP Studio ASP.NET onboarding task.</p>
    <!-- Button -->
    <p><a href="https://github.com/Z-Zhao/OnBoardingTask2018Jun/blob/master/READMEJul2018.md" class="btn btn-primary btn-lg">This Project in Git Hub &raquo;</a></p>


</div>
