@*@model OnBoardingTask2018Jun.Models.New_Models.ProductSold*@

<div class="modal fade" id="CreateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Create Sales</h3>
            </div>
            <div class="modal-body">
                <form id="CreateForm">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="validation-summary-errors text-danger"><ul><li style="display:none"></li></ul></div> @*ValidationSummary*@
                        
                        <div class="form-group">
                            <!--Customer-->
                            <label class="control-label col-md-2" for="CustomerId">Customer Name</label>
                            <div class="col-md-10">
                                @*'ViewData item of type 'IEnumerable<SelectListItem> that has the key 'CustomerId*@
                                @*@Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })*@
                                <select data-bind="options: CustomerList, value: SelectedCustomerId, optionsText: 'Name', optionsValue: 'Id'" class="form-control" id="CustomerId" name="CustomerId"></select>
                                @*@Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="form-group">
                            <!--Product-->
                            <label class="control-label col-md-2" for="ProductId">Product Name</label>
                            <div class="col-md-10">
                                <select data-bind="options: ProductList, value: SelectedProductId, optionsText: 'Name', optionsValue: 'Id'" class="form-control" id="ProductId" name="ProductId"> </select>
                                @*@Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="form-group">
                            <!--Store-->
                            <label class="control-label col-md-2" for="StoreId">Store Name</label>
                            <div class="col-md-10">
                                <select data-bind="options: StoreList, value: SelectedStoreId, optionsText: 'Name', optionsValue: 'Id'" class="form-control" id="StoreId" name="StoreId"></select>
                                @*@Html.ValidationMessageFor(model => model.StoreId, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="form-group">
                            <!--Sold Date-->
                            <label class="control-label col-md-2" for="DateSold">Date</label>
                            <div class="col-md-10">
                                <input data-bind="value:SoldDate, validationElement:SoldDate" type="date" class="form-control text-box single-line" data-val="true" data-val-date="The field DateSold must be a date." id="DateSold" name="DateSold" />
                                <span data-bind="validationMessage:SoldDate" class = "text-danger"></span> <!--Knockout validation, SoldDate can not be a future date (bigger than today).-->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a id="CreateSave" class="btn btn-default">Create</a>
                                <a class="btn btn-default" data-dismiss="modal">Back to List</a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        $('#CreateModal').modal();
    </script>
}