<div class="modal fade" id="DeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>ProductSold</h4>
                    <hr />
                    <dl class="dl-horizontal" data-bind="with: DeleteData">
                        @*data-bind with: binding object DeleteData*@
                        <dt>Date Sold</dt>
                        <dd data-bind="text: DateSold"></dd> @*DeleteData.DateSold*@

                        <dt>Customer Name</dt>
                        <dd data-bind="text: CustomerName"></dd>

                        <dt>Product Name</dt>
                        <dd data-bind="text: ProductName"></dd>

                        <dt>Store Name</dt>
                        <dd data-bind="text: StoreName"></dd>

                        <dt>Cashier Name</dt>
                        <dd data-bind="text: CashierName"></dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <input value="" id="DeleteId" name="Id" type="hidden" />
                        <div class="form-actions no-color">
                            <a id="DeleteSave" class="btn btn-default">Delete</a>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Back to List</a>
                        </div>
                    }
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{@*Scripts will not be load to Index page using PartialView*@
<script>
        $('#DeleteModal').modal({ backdrop: 'static' });

</script>
}
