@*@model OnBoardingTask2018Jun.Models.New_Models.ProductSold*@

<div class="modal fade" id="EditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3>Sale</h3>
            </div>
            <div class="modal-body">
                <form id="EditForm">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="validation-summary-errors text-danger"><ul><li style="display:none"></li></ul></div> @*ValidationSummary*@
                        <!--data-bind: value=self.SoldId-->
                        <input data-bind="value:SoldId" id="EditId" data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." name="Id" type="hidden" /> @*HiddenFor(model => model.Id)*@

                        <div class="form-group">
                            <label class="control-label col-md-2" for="CustomerId">Customer Name</label>
                            <div class="col-md-10">
                                <select data-bind="options: CustomerList, value: SelectedCustomerId, optionsText: 'Name', optionsValue: 'Id'" class="form-control" id="CustomerId" name="CustomerId"></select>
                                @*@Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="ProductId">Product Name</label>
                            <div class="col-md-10">
                                <!--value: must be int, & optionsValue must exist and be set to Id, otherwise initial dropdown value will not change-->
                                <!--data-bind: options=self.ProductList, value=self.SelectedProductId, optionsText=ProductList.Name, optionsValue=ProductList.Id-->
                                <select data-bind="options: ProductList, value: SelectedProductId, optionsText: 'Name', optionsValue: 'Id'" class="form-control" id="ProductId" name="ProductId"> </select>
                                @*@Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="StoreId">Store Name</label>
                            <div class="col-md-10">
                                <select data-bind="options: StoreList, value: SelectedStoreId, optionsText: 'Name', optionsValue: 'Id'" class="form-control" id="StoreId" name="StoreId"></select>
                                @*@Html.ValidationMessageFor(model => model.StoreId, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="CashierId">Cashier Name</label>
                            <div class="col-md-10">
                                <select data-bind="options: CashierList, value: SelectedCashierId, optionsText: 'Name', optionsValue: 'Id'" class="form-control" id="CashierId" name="CashierId"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="DateSold">Date</label>
                            <div class="col-md-10">
                                @*displayed date format will be chosen based on the set locale of the user's browser, whereas the <input> date value is always formatted "yyyy-mm-dd"*@
                                <input data-bind="value:SoldDate, validationElement:SoldDate" type="date" class="form-control text-box single-line" id="DateSold" name="DateSold" />
                                <span data-bind="validationMessage:SoldDate" class="text-danger"></span> <!--Knockout validation, SoldDate can not be a future date (bigger than today).-->
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a id="EditSave" class="btn btn-default">Save</a>
                                @*@Html.ActionLink("Back to List", "Index")*@
                                <a class="btn btn-default" data-dismiss="modal">Back to List</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!--/modal-body-->
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $('#EditModal').modal();
</script>
}
