<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/aa62c12d-7641-462c-a888-3e63b145e3d9/resourcegroups/OnBoardingTask2018Jun20180709081753ResourceGroup/providers/Microsoft.Web/sites/OnBoardingTask2018Jun20180709081753</ResourceId>
    <ResourceGroup>OnBoardingTask2018Jun20180709081753ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://onboardingtask2018jun20180709081753.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>onboardingtask2018jun20180709081753.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OnBoardingTask2018Jun20180709081753</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OnBoardingTask2018Jun20180709081753</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OnboardTaskEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=herbzhao.database.windows.net;Initial Catalog=OnboardTask;User ID=zhaozongxi;Password=Zzx1111112*;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OnBoardingTask2018Jun.Models.New_Models.CustomChangedEntities, OnBoardingTask2018Jun" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="OnboardTaskEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.OnBoardTaskEF.csdl|res://*/Models.OnBoardTaskEF.ssdl|res://*/Models.OnBoardTaskEF.msl;provider=System.Data.SqlClient;provider connection string="Data Source=herbzhao.database.windows.net;Initial Catalog=OnboardTask;User ID=zhaozongxi;Password=Zzx1111112*;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>