<div class="modal fade" id="DeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>Store</h4>

                    <dl class="dl-horizontal" id="DisplayDeleteData">
                        <!--Insert html from Ajax on Index-->
                        @*<dt>Name</dt>
            <dd id="DeleteNameContext">@Modal.Name</dd>
            <dt>Address</dt>
            <dd id="DeleteAddressContext">@Modal.Address</dd>*@
                    </dl>

                    <form id="DeleteForm">
                        @Html.AntiForgeryToken()
                        <input value="" id="DeleteId" name="Id" type="hidden" />
                        <div class="form-actions no-color">
                            <a id="DeleteSave" class="btn btn-default">Delete</a>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Back to List</a>
                        </div>
                    </form>
                    
                

                    
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


@section Scripts
{@*Scripts will not be load to Index page using PartialView*@
    <script>
        $('#DeleteModal').modal({ backdrop: 'static' });
        
    </script>
}
