<div class="modal fade" id="EditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3>Store Details</h3>
            </div>
            <div class="modal-body">
                @*Rewrite all Html.helper which contain lamda expressions like (modal=>modal.Name), to avoid default asp.net mvc data transfer*@
                @*data transfer method is Ajax*@
                <form id="EditForm">
                    @*data-ajax-url/action example: /Stores/Edit/1*@        @*data-ajax-success = EditFormJsonSuccess JS function is defined in Index*@
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Store</h4>
                        <hr />
                        <div class="validation-summary-errors text-danger"><ul><li style="display:none"></li></ul></div> @*ValidationSummary*@
                        @*Id, Name and Address <input> value will be updated by JQuery according to id*@
                        @*Name/Address validation <span> will be updated by JQuery according to id, text of <span> is from data-val-required*@
                        <input value="" id="EditId" data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." name="Id" type="hidden" /> @*HiddenFor(model => model.Id)*@

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Name">Name</label>
                            <div class="col-md-10">
                                @*jquery.validate.unobtrusive attribute: data-val. "true": front end validation needed, "false": front end validation do not needed*@
                                <input id="EditName" name="Name" type="text" value="" class="input-validation-error form-control text-box single-line" data-val="true" data-val-required="The Name field is required." />
                                <span id="EditNameValidMsg" class="field-validation-error text-danger" data-valmsg-for="Name" data-valmsg-replace="true">test result</span> @*ValidationMessageFor(model => model.Name*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Address">Address</label>
                            <div class="col-md-10">
                                <input id="EditAddress" name="Address" type="text" value="" class="form-control text-box single-line" data-val-required="" />
                                <span id="EditAddrValidMsg" class="field-validation-valid text-danger" data-valmsg-for="Address" data-valmsg-replace="true">test result</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @*When inside <form></form>, only use action link, neither <button>, nor <input>, because these two buttons must jump
                                    to other url (even empty url/action) and refresh, in this scenario, we only need $(#EditSave).click to trigger 
                                    JQuery on Index page and avoid refresh*@
                                <a id="EditSave" class="btn btn-default">Save</a>
                                @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })*@
                                <a class="btn btn-default" data-dismiss="modal">Back to List</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!--/modal-body-->
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

@section Scripts {
    @*These scripts do not include in Index page when using RenderPartial("Edit")*@
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        $('#EditModal').modal();
    </script>
    }
